{% extends 'base.html'%} {% block header %}
<h1>{% block title %}Food List{% endblock %}</h1>

{% if g.user %}
<section style="margin: 1rem; display: block;">
  <a class="action btn btn-primary" href="{{ url_for('food.create') }}">New</a>
</section>
{% endif %} {% endblock %} {% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Calorie (@ 100gr)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for food in food_list %}
    <tr>
      <td>{{food['food_name']}}</td>
      <td>{{food['food_calorie']}}</td>
      <td>
        {% if g.user['id']==food['user_id'] %}
        <a class="action" style="margin-right: 1rem;" href="{{ url_for('food.update',id=food['id']) }}"
          >Edit</a>
        <a class="action" style="color: red;" href="{{ url_for('food.delete',id=food['id']) }}"
          >Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
