{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ food['food_name']}}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="food_name">Food Name</label>
    <input name="food_name" id="food_name" value="{{ request.form['food_name'] or food['food_name'] }}" required>
    <label for="calorie">Calorie (@ 100 gr)</label>
    <input name="calorie" id="calorie" value="{{ request.form['calorie'] or food['food_calorie'] }}">{{ request.form['calorie'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('food.delete', id=food['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}