{% extends 'base.html'%}

{% block header %}
<h3>{% block title %}Today's Meal{% endblock %}</h3>
{% if g.user %}

{% endif %}
{% endblock %}

{% block content %}

<!-- Summary Table -->
<table class="table table-bordered text-center" style="text-align: center;">
  <thead>
    <th>Total Calorie</th>
    <th>Remaining</th>
  </thead>
  <tbody>
    <tr>
      <td><span style="font-size: 30pt;">{{total_calorie['total_calorie']}}</span> <sub>/ 1300 kcal</sub></td>
      <td><span style="font-size: 30pt;">{{1300-total_calorie['total_calorie']}}</span> <sub>kcal</sub></td>
    </tr>
  </tbody>
</table>

<hr>

<!-- Meal Input Form -->
<form method="post">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <label for="food_id">Food</label>
      <!-- typing input -->
      <!-- <input type="text" class="form-control form-control-lg" id="food_id" name="food_id" placeholder="Select food..." autofocus> -->
      <!-- Search Result -->
      <!-- <ul class="list-group list-group-flush" id="food-search-result">
      </ul> -->

      <!-- select input -->
      <select class="form-select form-select-lg select2-input" name="food_id" id="food_id" onchange="focusQty()">
        {% if foods != [] %}
        {% for food in foods %}
        <option value="{{food['id']}}">{{food['food_name']}} ({{food['food_calorie']}} kcal)</option>
        {% endfor %}
        {% endif %}
    </select>

    </div>
    <div class="col-md-12 col-lg-4">
      <label for="quantity">Qty (grams)</label>
      <input type="text" class="form-control" id="quantity" name="quantity" placeholder="e.g: 100">
      <!-- Qty Popup Options -->
      <ul class="list-group list-group-flush" id="qty-recom-list">
      </ul>
      <ul class="list-group list-group-flush" id="qty-satuan-list">
      </ul>
      <p id="additionalQty"></span>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
  <a class="action btn btn-link" href="{{ url_for('tracker.create') }}">Add on Another Date</a>
</form>

<hr>
<!-- List Table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Food Name (Qty in gram)</th>
      <th>Calorie (kcal)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% if today != [] %}
      {% for food in today %}
      <tr>
        <td>{{food['food_name']+" ("+food['quantity']+" gr)"}}</td>
        <td>{{food['calorie']}}</td>
        <td>
          <a class="action" style="margin-right: 1rem;" href="{{ url_for('tracker.update',id=food['id']) }}">Edit</a>
          <a class="action" style="color: red;" href="{{ url_for('tracker.delete',id=food['id']) }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">You haven't tracked any meals today</td>
      </tr>
    {% endif %}
  </tbody>
</table>
<a href="#">See another date</a>
{% endblock %}
